%p#notice=notice
<% attributes.reject(&:password_digest?).each do |attribute| -%>
%p
  %strong
    <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>

<% end -%>
= link_to t('cap.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
= link_to t('cap.back'), <%= index_helper %>_path